@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@400;500;600;700;800;900&family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --dark-color: #5d001e;
  --color: #e3e2df;
  --color-sec: #9a1750;
}
* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 0.05;
  scroll-behavior: smooth;
}

.gdBg {
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  width: 100%;
  height: 30rem;
  position: fixed;
  top: 0;
  z-index: -1;
}

body {
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  margin: 0;
  padding: 1rem;
  background-attachment: fixed;
  font-size: 1rem;
}

h1,
h2 {
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-size: 2rem;
  color: var(--dark-color);
}

h3,
h4,
h5 {
  font-family: "Vollkorn", serif;

  color: var(--dark-color);
}

i {
  color: var(--dark-color);
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.topNav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--dark-color);
  justify-content: space-between;
  padding: 0.1rem;
  align-items: center;
}

.navTitle {
  font-weight: 900;
}

.navTitle span {
  font-weight: 400;
}

.topNavUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.topNavUl a {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.topNavUl a:hover {
  text-decoration: overline;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  padding: 5rem 0;
}

.flexDivide section {
  width: 50%;
}

.codingImg img {
  border-radius: 2rem;
  box-shadow: 0px 0px 5px var(--dark-color);
  width: 100%;
}

.home div a {
  display: inline-block;
  padding: 0.2rem 0;
  transition: transform 200ms;
}

.home div a:hover {
  transform: scale(1.2);
}

.scroll {
  font-weight: 600;
  color: var(--dark-color);
  text-align: center;
  width: 10rem;
  margin: 3rem auto;
  border-radius: 0.5rem;
  padding: 0.1rem;
  box-shadow: 0px 0px 5px var(--dark-color);
  position: relative;
}

.scroll:hover,
:focus {
  animation: scrollA 400ms linear 3;
}

@keyframes scrollA {
  from {
    top: 0;
  }
  to {
    top: 0.6rem;
  }
}

.about {
  padding: 5rem 0;
}

.about div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}

.about h2 {
  text-align: center;
  margin: 3rem 0 5rem;
}

.intro {
  padding: 2rem;
  border-radius: 1rem;

  box-shadow: 0px 2px 5px var(--dark-color);
}

.specialText {
  background-color: var(--dark-color);
  color: var(--color);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.techStack p {
  margin: 2rem 0 0;
}

.projects {
  text-align: center;
  margin: 10rem 0;
}

.projects h2 {
  padding: 0 0 3rem;
}

.projectsFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem;
}

.pBox {
  width: 30%;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px var(--dark-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 200ms;
}

.pBox:hover {
  transform: scale(1.1);
}

.projects i {
  font-size: 2.5rem;
}

.contact h2,
p,
h3 {
  text-align: center;
}

.contact h2 {
  margin: 0;
}

.cFlex {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin: 5rem 0 0;
}

.cFlex input {
  width: 48%;
  padding: 0.5rem;
  border: 0.1rem solid var(--dark-color);
  outline: none;
  border-radius: 0.5rem;
}

.cFlex textarea {
  width: 96%;
  margin: 1rem 0 0;
  padding: 0.5rem;
  border: 0.1rem solid var(--dark-color);
  outline: none;
  border-radius: 0.5rem;
}

.cInfo {
  background: var(--dark-color);
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 1rem;
  padding: 1rem;
}

.cInfo h3 {
  color: var(--color);
}

.cInfo i {
  color: var(--color);
}

button {
  background: var(--dark-color);
  color: var(--color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.7rem;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: box-shadow 200ms;
}

button i {
  color: var(--color);
}
button:hover {
  box-shadow: 0px 0px 10px var(--dark-color);
}
